<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="feafeb02-3ecc-405e-8a1c-59c0a24c408a" name="Ice Cream">
  <con:settings id="b5eed316-cfa1-495e-814c-43bb124756f5">
    <con:setting id="feafeb02-3ecc-405e-8a1c-59c0a24c408afileName">Ice-Cream</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="a4eb22e5-5cb5-4b2c-a9c1-3bebc4c560a2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
